article {
    border: 10px solid gray; 
    margin: auto;
    height: 600px;
    width: 80%;
  }
  
  header {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1083533/header.jpg);
    background-size: cover;
    height: 300px;
    position: relative;
  }
  
  #overlay {
    background-color:
      rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
  
  
  